
/* Universal Selector */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}


.cards {
  width: 60%;
  padding: 2rem;
  background-color: #D9D9D9CC;
  border-radius: 20px;
  display: block !important;
}

iframe {
  width:100%; 
  border-radius: 20px;
}
@media screen and (max-width: 700px){
  .cards {
    width: 90%;
  }
}